//fonts
$font: 'PT Sans', sans-serif;
$proximabold: 'Proxima Nova Rg', sans-serif;
$proximasemi: 'Proxima Nova Lt', sans-serif;

//colors
$white: #fefdfd;
$font: #665f60;


// grid
$width-sm: 576px;
$width-md: 767px;
$width-lg: 992px;

